{% extends "base.html" %}
{% block title %}Inscription{% endblock %}

{% block content %}

<div class="container vh-100">
    <div class="row h-100">
        <div class="text-center col-md-6 offset-md-3 my-auto">
            <form class="form mx-auto" action="" method="post">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="{{ form.username.id_for_label }}">Nom d'utilisateur</label>
                    {{ form.username }}
                </div>
                <div class="form-group mb-3">
                    <label for="{{ form.email.id_for_label }}">e-mail</label>
                    {{ form.email }}
                </div>
                <div class="form-group mb-3">
                    <label for="{{ form.password.id_for_label }}">Mot de passe</label>
                    {{ form.password }}
                </div>
                <div class="form-group mb-4">
                    <label for="{{ form.password_confirmation.id_for_label }}">Confirmation du mot de passe</label>
                    {{ form.password_confirmation }}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Inscription</button>
                </div>
            </form>
            <div class="text-center mt-5">
                <p>Déjà inscrit ? <a href="{% url 'login' %}">Se connecter</a></p>
            </div>
        </div>
    </div>
</div>






{% endblock %}