{% load heroicons %}

<header class="bg-success py-2">
  <div class="container-xl">
    <div class="row align-items-center">
      <div class="col-md-2">
        <a href="{% url 'home' %}"><img src="logo.png" alt="Logo"></a>
      </div>

      <div class="col-md-6">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Recherche d'ingrédient" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Rechercher</button>
        </form>
      </div>

      <div class="col-md-4 text-end">
        {% if user.is_authenticated %}
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {% heroicon_outline "user" %} {{ user.username }}
          </button>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'recipes_list' %}">{% heroicon_outline "list-bullet" %} Mes
              recettes</a>
            <a class="dropdown-item" href="#">{% heroicon_outline "cog-6-tooth" %} Profil</a>
            <a class="dropdown-item" href="{% url 'logout' %}">{% heroicon_outline "arrow-left-on-rectangle" %} Se
              déconnecter</a>
          </div>
        </div>
        {% else %}
        <a href="{% url 'sign_up' %}" class="btn btn-light me-2">Inscription</a>
        <a href="{% url 'login' %}" class="btn btn-outline-light">Se connecter</a>
        {% endif %}
      </div>

    </div>
  </div>
</header>